.pokedex {
  grid-template-columns: repeat(2, 320px);
  justify-content: center;
}

@media (max-width: 702px) {
  .pokedex {
    grid-template-columns: 320px;
    justify-content: center;

    padding-bottom: 4rem;
  }

  .search input::placeholder {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .search input::placeholder {
    font-size: 1.6rem;
    padding-left: 1rem;
  }
}

@media (max-width: 340px) {
  .pokedex {
    grid-template-columns: 94vw;
    justify-content: center;
  }

  .search input::placeholder {
    font-size: 1.4rem;
    padding-left: 0;
  }
}
