* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* main colors */
  --bg-color: #262835;
  --title-color: #fff;
  --text-color: #222;
  /* card colors */
  --steel: #f4f4f4;
  --fire: #fddfdf;
  --grass: #defde0;
  --electric: #f8f0c9;
  --water: #def3fd; /* water and ice */
  --ground: #f4e7da;
  --rock: #d5d5d4;
  --fairy: #fceaff;
  --poison: #98d7a5;
  --bug: #f8d5a3;
  --dragon: #97b3e6;
  --psychic: #eaeda1;
  --flying: #f5f5f5;
  --fighting: #e6e0d4;
  --dark: #857f92;
  --ghost: #7883a1;
  --normal: #f5f5f5;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);

  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 1400px;
  padding: 4rem;
  margin: 0 auto;

  padding-inline: 3rem;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  color: var(--title-color);

  margin-bottom: 3rem;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-gap: 2rem;
  justify-content: space-evenly;
}

.card {
  list-style: none;
  padding: 2rem;
  color: var(--text-color);
  text-align: center;
  border-radius: 2rem;
  position: relative;
}

.card::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--title-color);
  opacity: 0.7;
  position: absolute;
  top: 22%;
  left: 18%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .card-title {
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: normal;
  position: relative;
  z-index: 2;
  margin-bottom: 0.8rem;
}

header .card-subtitle {
  font-size: 1.6rem;
  color: #666;
  font-weight: lighter;
  position: relative;
  z-index: 2;
}

.card-image {
  height: 240px;
  position: relative;
  z-index: 2;

  margin-top: 0.4rem;
}

.card-information {
  width: 95%;
  margin: 0 auto;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-information > p {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.card-information p {
  padding: 0.2rem 0.4rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
}

.card-information .other {
  opacity: 0.8;
  display: flex;
  gap: 0.8rem;
}

.steel {
  background-color: var(--steel);
}

.fire {
  background-color: var(--fire);
}

.grass {
  background-color: var(--grass);
}

.electric {
  background-color: var(--electric);
}

.water,
.ice {
  background-color: var(--water);
}

.ground {
  background-color: var(--ground);
}

.rock {
  background-color: var(--rock);
}

.fairy {
  background-color: var(--fairy);
}

.poison {
  background-color: var(--poison);
}

.bug {
  background-color: var(--bug);
}

.dragon {
  background-color: var(--dragon);
}

.psychic {
  background-color: var(--psychic);
}

.flying {
  background-color: var(--flying);
}

.fighting {
  background-color: var(--fighting);
}

.dark {
  background-color: var(--dark);
}

.ghost {
  background-color: var(--ghost);
}

.normal {
  background-color: var(--normal);
}

.card:hover {
  animation: bounce 400ms linear;
}

@keyframes bounce {
  20% {
    transform: translateY(-8px);
  }

  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 1002px) {
  .pokedex {
    grid-template-columns: repeat(2, 320px);
    justify-content: center;
  }
}

@media (max-width: 702px) {
  .pokedex {
    grid-template-columns: 320px;
    justify-content: center;
  }
}

@media (max-width: 340px) {
  .pokedex {
    grid-template-columns: 94vw;
    justify-content: center;
  }
}
