* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #b0b0b0;

  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #fff;
}

.container {
  max-width: 1400px;
  padding: 4rem;
  margin: 0 auto;

  padding-inline: 3rem;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 3rem;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-gap: 2rem;
  justify-content: space-evenly;
}

.card {
  list-style: none;
  padding: 1.6rem;
  color: #222;
  text-align: center;
  border-radius: 2rem;
  position: relative;
}

.card::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
  position: absolute;
  top: 22%;
  left: 18%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .card-title {
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: normal;
  position: relative;
  z-index: 2;
  margin-bottom: .8rem;
}

header .card-subtitle {
  font-size: 1.6rem;
  color: #666;
  font-weight: lighter;
  position: relative;
  z-index: 2;
}

.card-image {
  height: 240px;
  position: relative;
  z-index: 2;

  margin-top: .4rem;
}

.card-information {
  width: 95%;
  
  margin: 0 auto;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.card-information > p{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.card-information p{
  padding: .2rem .4rem;
  background-color: #bffcc3;
  border-radius: .8rem;
}

.card-information .other{
  padding: .4rem 0.2rem;
  background-color: #fff;
  opacity: 0.7;
  display: flex;
  gap: .8rem;
}

.steel {
  background-color: #f4f4f4;
}

.fire {
  background-color: #fddfdf;
}

.grass {
  background-color: #defde0;
}

.electric {
  background-color: #fcf7de;
}

.water,
.ice {
  background-color: #def3fd;
}

.ground {
  background-color: #f4e7da;
}

.rock {
  background-color: #d5d5d4;
}

.fairy {
  background-color: #fceaff;
}

.poison {
  background-color: #98d7a5;
}

.bug {
  background-color: #f8d5a3;
}

.dragon {
  background-color: #97b3e6;
}

.psychic {
  background-color: #eaeda1;
}

.flying {
  background-color: #f5f5f5;
}

.fighting {
  background-color: #e6e0d4;
}

.normal {
  background-color: #f5f5f5;
}

.card:hover {
  animation: bounce 0.5s linear;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
